.App {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #457b9d;
  box-shadow: 0 10px 10px #1d3557;
  padding: 2rem;
  border-radius: 0.5rem;
}